* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://ak.picdn.net/shutterstock/videos/1051672597/thumb/1.jpg");

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-size: cover;
}
.login {
  padding: 3rem 4rem;

  margin: 0;
  background-color: hsl(201, 100%, 6%, 0.5);

  border: 1px solid hsl(201, 94%, 13%);
  box-shadow: 2px 2px 5px hsl(201, 100%, 6%, 0.5),
    -2px 2px 5px hsl(201, 100%, 6%, 0.5);
  border-radius: 5px;
  backdrop-filter: blur(1.5px);
}
.header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -1.4rem;
  padding: 0px;
  color: white;
  font-weight: lighter;
  font-size: 1.8em;
}

.input {
  display: flex;

  flex-direction: column;
  margin-bottom: 20px;
}
.input label {
  color: white;
  font-size: 1.5em;
  font-weight: lighter;
  margin-bottom: 10px;
  font-weight: lighter;
}

.input input {
  background-color: hsl(201, 100%, 91%, 0.3);
  border: 1px solid hsl(201, 62%, 43%);
  padding: 15px;
  color: white;
  outline: none;
  border-radius: 5px;
  font-weight: lighter;
  font-size: 20px;
}
.input input:focus {
  text-shadow: 5px 5px 5px rgb(99, 99, 141);
  box-shadow: 5px 5px 5px rgb(70, 70, 15);
  backdrop-filter: blur(2.5px);
}
.input input:hover {
  text-shadow: 5px 5px 5px rgb(99, 99, 141);
  box-shadow: 5px 5px 5px rgb(70, 70, 15);
  backdrop-filter: blur(1.5px);
}
.submit-btn {
  background-color: rgba(7, 16, 20, 0.5);
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid hsl(201, 62%, 43%);
  font-weight: lighter;
  font-size: 25px;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: rgba(7, 16, 20, 0.7);
  text-shadow: 2px 2px 5px rgb(99, 99, 141);
  box-shadow: 2px 2px 3px rgb(72, 92, 204), -2px -2px 5px rgb(72, 92, 204);
}
select {
  background-color: transparent;
  color: white;
  font-size: 1.8em;
  cursor: pointer;
  outline: none;
}
select option {
  background-color: black;
  color: white;
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.msg {
  height: 2rem;

  display: flex;
  color: white;
  margin-top: 1rem;
}
